{% extends 'gersiteapp/base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>

    </head>
  <body>
    <h1>
      My Stats
    </h1>

    <div class="container">
      <div class ="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 50px;">
        <div class ="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "margin-bottom: 0px;"> Number of Pages you Read this Week</p>
          <p style = "text-align:center; color: #FFFFFF; font-size: 20px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> <Strong> Congratulations! </Strong> </p>
          <p style = "text-align:center; color: #000000; font-size: 18px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> You read {{pages_this_week}} pages this week! </p>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 50px;">
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "margin-bottom: 0px;"> Number of Books you Read this Month</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 50px;">
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "margin-bottom: 0px;"> Books You Read this Year</p>
        </div>
      </div>
    </div>


{% endblock %}
