{% extends 'gersiteapp/base.html' %}
{% load static %}
{% block title %}Statistics{% endblock %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>

    </head>
  <body>
    <h1>
      My Stats
    </h1>

    <div class = "container">
      <p style = "text-align:center; color: #84A98C; font-size: 40px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> <Strong> {{Opening_Message}} </Strong> </p>
    </div>

    <div class="container">
      <div class ="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 5px;">
        <div class ="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Number of Pages you Read this Week</Strong></p>
          <p style = "text-align:center; color: #000000; font-size: 18px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> You read {{pages_this_week}} pages this week! </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Number of Books you Read this Month</Strong></p>
          <p style = "text-align:center; color: #000000; font-size: 18px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> You read {{books_this_month}} books this month! </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class ="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class ="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Book you Reread the most</Strong></p>
          <p style = "text-align:center; color: #000000; font-size: 18px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> {{books_reread}} </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Books You Read this Year</Strong></p>
          </p>
          <p style = "text-align:center; color: #000000; font-size: 18px; margin-bottom: 3px; font-family: Andalé Mono, monospace"> You read {{books_this_year}} books this year! </p>
          </p>
          <!-- <img src= "{% static 'gersiteapp/img/stats/BarGraphNumberofBooksyouReadperMonththisYear.png' %}" alt = "Books you read every month per year" style = "display: block; margin-left: auto; margin-right: auto; width: 50%;"> -->
          <div style = "width:1000;height:100">
          {{ Bar_graph|safe }}
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Books you Read since the Beginning of Time</Strong></p>
          </p>
          <!-- <img src= "{% static 'gersiteapp/img/stats/LineGraphAllTimeNumberofBooksyouRead.png' %}" alt = "Books you read every month per year" style = "display: block; margin-left: auto; margin-right: auto; width: 50%;"> -->
          <div style = "width:1000;height:100">
          {{ Bar_line|safe }}
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Genres you read this year</Strong></p>
          </p>
          <img src= "{% static 'gersiteapp/img/stats/PieChartGenresyouReadthisyear.png' %}" alt = "Books you read every month per year" style = "display: block; margin-left: auto; margin-right: auto; width: 50%;">
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>Length of Books you Read this Year</Strong></p>
          </p>
          <!-- <img src= "{% static 'gersiteapp/img/stats/PieChartBookPagesyouReadthisyear.png' %}" alt = "Books you read every month per year" style = "display: block; margin-left: auto; margin-right: auto; width: 50%;"> -->
          <div style = "width:1000;height:100">
            {{ Pie_chart|safe }}
          </div>
        </div>
      </div>
    </div>

    
    <div class="container">
      <div class="row", style = "padding-top: 5px; border-radius: 10px; margin-top: 30px;">
        <div class="col" style = "color: #004643; font-size: 30px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align:center; margin-bottom: 0px;"> <Strong>"Books are a uniquely portable magic." – Stephen King</Strong></p>
        </div>
      </div>
    </div>



{% endblock %}
