/GoodEnoughReads/Lib/
/GoodEnoughReads/Scripts/
GoodEnoughReads/pyvenv.cfg
/env
/.venv
/ger
/venv
/GoodEnoughReads/gersiteapp/static/gersiteapp/img/stats
GoodEnoughReads\gersiteapp\static\gersiteapp\img\stats\
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
GoodEnoughReads/gersiteapp/static/gersiteapp/img/stats/BarGraphNumberofBooksyouReadperMonththisYear.png
GoodEnoughReads/gersiteapp/static/gersiteapp/img/stats/LineGraphAllTimeNumberofBooksyouRead.png
GoodEnoughReads/gersiteapp/static/gersiteapp/img/stats/PieChartBookPagesyouReadthisyear.png
GoodEnoughReads/gersiteapp/static/gersiteapp/img/stats/PieChartGenresyouReadthisyear.png
*.pyc
GoodEnoughReads/GoodEnoughReads/__pycache__/settings.cpython-38.pyc
