{% extends 'gersiteapp/base.html' %}


{% block title %}Did Not Finish{% endblock %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>

    </head>
  <body>
    <h1>
      Did Not Finish
    </h1>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px;">
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "margin-bottom: 0px;"> Shelf: All</p>
        </div>
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align: right; margin: 0px"> Organize: By Date</p>
        </div>
      </div>

      <div class="row">
        <div class="col mx-1" style="margin: 10px 10px 10px 10px;">
          {% load static %}
          <img class= "book" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 100%; border-style: solid; 
                border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
            <div style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
                padding: 3px 3px 3px 3px; border-style: solid; 
                border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
                margin: 5px 5px 5px 5px;">
              <p> Star Rating &#9733; &#9733; &#9733; &#9733; &#9733;</p>
              <p> Author: J.K Rowling</p>
              <p> Volume: 7 </p>
            </div>
        </div>
        <div class="col mx-1" style="margin: 10px 10px 10px 10px;">
          {% load static %}
          <img class= "book" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 100%; border-style: solid; 
                border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
            <div style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
                padding: 3px 3px 3px 3px; border-style: solid; 
                border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
                margin: 5px 5px 5px 5px;">
              <p> Star Rating &#9733; &#9733; &#9733; &#9733; &#9733;</p>
              <p> Author: J.K Rowling</p>
              <p> Volume: 7 </p>
            </div>
        </div>
        <div class="col mx-1" style="margin: 10px 10px 10px 10px;">
          {% load static %}
          <img class= "book" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 100%; border-style: solid; 
                border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
            <div style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
                padding: 3px 3px 3px 3px; border-style: solid; 
                border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
                margin: 5px 5px 5px 5px;">
              <p> Star Rating &#9733; &#9733; &#9733; &#9733; &#9733;</p>
              <p> Author: J.K Rowling</p>
              <p> Volume: 7 </p>
            </div>
        </div>
        <div class="col mx-1" style="margin: 10px 10px 10px 10px;">
          {% load static %}
          <img class= "book" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 100%; border-style: solid; 
                border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
            <div style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
                padding: 3px 3px 3px 3px; border-style: solid; 
                border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
                margin: 5px 5px 5px 5px;">
              <p> Star Rating &#9733; &#9733; &#9733; &#9733; &#9733;</p>
              <p> Author: J.K Rowling</p>
              <p> Volume: 7 </p>
            </div>
        </div>
        <div class="col mx-1" style="margin: 10px 10px 10px 10px;">
          {% load static %}
          <img class= "book" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 100%; border-style: solid; 
                border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
            <div style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
                padding: 3px 3px 3px 3px; border-style: solid; 
                border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
                margin: 5px 5px 5px 5px;">
              <p> Star Rating &#9733; &#9733; &#9733; &#9733; &#9733;</p>
              <p> Author: J.K Rowling</p>
              <p> Volume: 7 </p>
            </div>
        </div>
        
    </div>
  </body>
  </html>

  
{% endblock %}