{% extends 'gersiteapp/base.html' %}


{% block title %}DNF - Did Not Finish{% endblock %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>

    </head>
  <body>
    <h1>
      DNF - Did Not Finish
    </h1>

    <div class="container">
      <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px;">
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "margin-bottom: 0px;"> Shelf: DNF - Did Not Finish</p>
        </div>
        <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
          <p style = "text-align: right; margin: 0px"> Organize: By Date</p>
        </div>
      </div>
      {% for x in bookList %} 
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3" src="{{x.bookImg}}" alt="Generic placeholder image" style= "width: 15%; border-style: solid; 
          border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px">
          <div class="media-body" style="background-color: #84A98C; color:#004643; width: 100%; border-radius: 10px;
          padding: 3px 3px 3px 3px; border-style: solid; border-color:#EDD0B1; border-radius: 10px; border-width: 5px;
          margin: 5px 5px 5px 5px;">
             <p> Title: {{x.title}}</p>
             <p> Pages: {{x.pageCount}}</p>
             <p> Your Rating: {{x.userRating}}/5</p>
          </div>
      </ul>
      {% endfor %}
  </body>
  </html>

  
{% endblock %}