{% extends 'gersiteapp/base.html' %}
{% load static %}

{% block title %}Books{% endblock %}

{% block content %}
<!-- <!DOCTYPE html>
<html>
  <head>

  </head>
<body> -->
  <h1> Book Information </h1>
  <text id="bookID"hidden>{{ bookID }}</text>
  <div class="container">
    <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px;">
      <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <p style = "margin-bottom: 0px;">Book ID: {{ bookID }} </p>
      </div>

      <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
            style="background-color: #84A98C; color:#004643; float: right;">
            Add To Shelf
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Read</a>
            <a class="dropdown-item" href="#">To Read</a>
            <a class="dropdown-item" href="#">Currently Reading</a>
            <a class="dropdown-item" href="#">DNF</a>
          </div>
        </div>
      </div>

    </div>

    <div class="media" id="bookRead">
        <!-- <img class= "align-self-start mr-3" src="{% static 'gersiteapp/img/test.jpg' %}" style= "width: 30%; height: 100%; border-style: solid; 
              border-color: #004643; border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px;">
      <div class="media-body" style="background-color: #84A98C; color:#004643; border-radius: 10px;
          border-style: solid; border-color:#004643; 
            border-radius: 10px; border-width: 5px; margin: 5px 5px 5px 5px; height: 460px;">
            <div class="container">
              <div class="row" style="padding-left: 10px">
                <div class="col">
                  <h2>Title</h2>
                </div>
                <div class="col">
                  <h2>Rating</h2>
              </div>
              </div>
              <div class="row" style="padding-left: 10px">
                <div class="col">
                  <h5>Series</h5>
                </div>
                <div class="col">
                  <h5>Pages</h5>
                </div>
                <div class="col">
                  <h5>Volume</h5>
                </div>
              </div>
              <div class="row" style="padding-left: 10px">
                Summary
              </div>
              <div class="row" style="padding-left: 10px">
                Tags
              </div>
          </div>
      </div> -->
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script type="text/javascript" src="{% static 'collections/js/toRead.js' %}"></script>
<!-- </body>
</html> -->
{% endblock %}