{% load static %}

{% if not request.session.username %}
    {% url 'ManageAccount:login' as login_url %}
    <script>
        window.location.href = "{% autoescape off %}{% spaceless %}{% url 'ManageAccount:login' %}{% endspaceless %}{% endautoescape %}";
    </script>
{% endif %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - GoodEnoughReads</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'gersiteapp/css/style.css' %}">
        <link rel="icon" href="../static/gersiteapp/img/logo_nobg.png">
        <style>
            .navbar-collapse {
                z-index: 9989;
                background-color: #84A98C;
            }
            .dropdown-menu {
                padding: 0.5rem;
            }
            @media (max-width: 767px) {
                .navbar-nav.ml-auto {
                    margin-left: auto !important;
                }
                .navbar-collapse {
                    position: fixed;
                    top: 80px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #84A98C;
                    padding: 1rem;
                    width: 110%;
                }
                
            }
        </style>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top"
            style="background-color: #84A98C; height: 100px;">
            <a class="navbar-brand" href="{% url 'welcome' %}" style="height:
                50px; line-height: 20px">
                <img src="{% static 'gersiteapp/img/logo.png' %}" width="50"
                    height="50" class="d-inline-block align-top mr-2">
                Good<br>Enough<br>Reads
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search' %}"
                            style="color: #004643; font-size: 18px;">Search</a>
                    </li>
                    <li class="nav-item order-md-last">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                    id="collection-dropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" style="color: #004643;
                                    font-size: 18px;">Collections</a>
                                <div class="dropdown-menu"
                                    aria-labelledby="collection-dropdown">
                                    <a class="dropdown-item" href="{% url 'collection'%}">Collection: All</a>
                                    <a class="dropdown-item" href="{% url 'read'%}">Read</a>    
                                    <a class="dropdown-item" href="{% url 'toRead'%}">To Read</a>
                                    <a class="dropdown-item" href="{% url 'currentlyReading'%}">Currently Reading</a>
                                    <a class="dropdown-item" href="{% url 'dnf'%}">Did Not Finish</a> 
                                    <div class="dropdown-divider"></div></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recommendations' %}"
                            style="color: #004643; font-size: 18px;">Recommendations</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="account-dropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="color: #004643;
                            font-size: 18px;">Account</a>
                        <div class="dropdown-menu"
                            aria-labelledby="account-dropdown">
                            <a class="dropdown-item" href="{% url 'account'%}">My Account</a>
                            <a class="dropdown-item" href="{% url 'statistics'%}">Statistics</a>
                            <a class="dropdown-item" href="{% url 'awards'%}">Awards</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div></nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>