{% extends 'gersiteapp/base.html' %}
{% load static %}

{% block title %}Books{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7/0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
  <div id = "bookID" value = "{{bookID}}" hidden>

  </div>
  <h1> Book Information </h1>
  <div class="container">
    <div class="row", style="background-color: #EDD0B1; padding-top: 5px; border-radius: 10px;">
      <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <p style = "margin-bottom: 0px;"> {{ title }}</p>
      </div>

      <div class="col" style = "color: #004643; font-size: 24px; margin-bottom: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <a href="{% url 'bookInfo'%}" class="btn btn-primary" role="button" style="background-color: #84A98C; color:#004643; float: right;" aria-pressed="true">Add/Edit Shelf</a>
      </div>
    </div>
    <div id = "bookRead">
      
    </div>
    <script type = "text/javascript" src="{% static 'Collections/js/toRead.js' %}"></script>
</body>  
</html>
{% endblock %}