<!-- This document was made by Ryan Mailhiot for Good Enough Reads
     Final edit date for Ryan was March 25, 2023.
-->

{% extends 'gersiteapp/base.html' %}<!-- Extends a base template HTML file -->


{% block title %}Search{% endblock %}

{% block content %}
{% load static %}

<img id="placeholder" src="{% static 'search/img/placeholder.png' %}" alt="" hidden> 

<!-- This section is for the search field and button at the top -->
    <div class="container">
        <h1 id="title" class="text-center mt-5">Search</h1>
        <div class="row">
            <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="Search Books...">
                <button id="search-button" type="submit" class="btn btn-primary" onclick="">Search</button>
                <img src="https://books.google.com/googlebooks/images/poweredby.png" border="0" width="62" height="30" align="absbottom" style="position: relative; top: 6px; margin:0; border: 0; padding: 0; padding-left: 8px">
            </div>
        </div>
    </div>
    <div>
        <!-- This is where the searchNew.js file will put data -->
        <div class="container-fluid" id="results">
            {% csrf_token %}
        </div>
    </div>
    <!-- When this is on screen it will auto add more components-->
    <div id="bottom-reload" class="bottom-reload">
        <small>Loading</small>
    </div>
    <script type="text/javascript">
        const searchBox = document.getElementById('search-box');
        const params = new URLSearchParams(window.location.search);
        const title = params.get('q');
        searchBox.value = title;

        window.onload = () => {
            if (title) {
                document.getElementById('search-button').click();
            }
        };
    </script> 
    <script type="text/javascript" src="{% static 'search/js/search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
    
{% endblock %}