{% extends 'gersiteapp/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="title" class="text-center mt-5">Search</h1>
        <div class="row">
            <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="Search Books...">
                <button id="search-button" type="submit" class="btn btn-primary" onclick="">Search</button>
            </div>
        </div>
        <!-- <div class="row" id="adv-search">
            <div id="advanced-search" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12" >
                <input id="search-box" type="text" class="form-control" placeholder="Search Books...">
                <button id="search-button" type="submit" class="btn btn-primary" onclick="">Search</button>
            </div>
        </div> -->
    </div>
    <div class="container-fluid" id="results">
        {% csrf_token %}

    </div>
    <!-- <div id="pageSelect">
        
    </div> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <script type="text/javascript" src="{% static 'search/js/search.js' %}"></script>


    
{% endblock %}